.banner-blue{
    background-image: url(../images/mask-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    padding: 50px 0;
    margin-bottom: 60px;
    .container{
        text-align: center;
        .mask-blue{ 
            h3{}
            p{}
        }
    }
}