.blog {
  .container {
    .form {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      .input-container {
        flex: 1;
        input {
          padding: 10px;
          background-color: $color-lgray01;
          border: none;
          width: 100%;
        }
        placeholder {
        }
      }
      button {
        border: none;
        img {
        }
      }
    }
    ///
    .blog-principal {
      .card-blog {
        margin-bottom: 30px;
        border-radius: 5px;
       .content-global{
         
         .teste{
          background-color: $color-lgray01;
          border-radius: 10px;
          margin-bottom: 30px;
          .img-blog{
            img{
               width: 100%;
               border-radius: 10px 10px 0 0;
            }
            .img-blog-first{
              border-radius: 0 0 10px 10px;
            }
        }
           .content{
            padding: 16px;  
               h5{
                   font-size: 28px;
               }
               p {
                   font-size: 16px;
                   margin-bottom: 16px;
               }
           }
   
           .author {
             display: flex;
             justify-content: space-between;
             align-items: center;
             .name-blog {
               p {
                   font-size: 14px;
                 padding-bottom: 0;
                 margin-bottom: 4px;
                 color: $color-blue01;                 
               }
               small {
                  font-size: 14px; 
                  color: $color-gray;
               }
             }
             .icon-share {
              .save{            
                  padding-right: 26px;
              }
               
             }
           }
        }

       }
      }

      &._principal{

      }
    }
  }
}
