.form-contatc{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 90px;
    -webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
    label{
        margin-bottom: 8px;
    }
    input{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $color-blue01;
        margin-bottom: 30px;
        outline: none;
    }
    textarea{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $color-blue01;
        margin-bottom: 50px;
        outline: none;
    }
}