.informations-footer{
    padding: 80px 0;
    .logo-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        img{
            padding-right: 30px;
        }
    }
}