.project-finished{
    .img-project{
        img{
            width: 100%;
            border-radius: 10px;
            height: 300px;
            object-position: left;
            object-fit: cover;
            
        }
        @media screen and (min-width: $screen-md){
            img{
                height: 500px;
            }
        }
    }

}