.top-footer{
    background-color: $color-lblue;
    padding-top: 70px;
    border-radius: 150px 0 0 0;
    .container{
        .logo-footer{

            .pad-logo{
                padding: 60px 80px;
            }
            .element-pad{
                padding: 0 80px;
                .element-logo{
                    p{
                        color: $color-white;
                        text-align: center;
                    }
                }
            }
        }

    }

    @media screen and ($screen-md){
        border-radius: 200px 0 0 0;
        .container{
            .logo-footer{
                .pad-logo{
                    padding: unset;
                }
            }
        }
    }
}